.playlistElementCard-player {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlistElementCard-flex {
    display: flex;
    align-items: center;
}

.playlistElementCard-container {
    display: flex;
    padding: 8px 0px;
}

.playlistElementCard-container-hover {
    display: flex;
    padding: 8px 0px;
    background-color: #424242;
    border-radius: 10px;
}