.playlistElements-container {
    background: linear-gradient(#232322 1%, #121212 5%);
    padding: 0px 20px 20px 20px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.line {
    height: 1px;
    width: 98%;
    background-color: #858585;
    border: none;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 30px;
}