.playlist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 100%;
    background: linear-gradient(#565656, #2B2B2A);
}

.playlist-image {
    width: 15%;
    padding: 25px;
}

.link {
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

.link:hover {
    font-weight: bolder;
    text-decoration: underline;
    color: white;
}