ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 4% 30%;
    padding: 0;
}

li {
    border-radius: 50px;
    padding: 10px 25px;
    background-color: #454545;
    color: white;
}

.li-focus {
    background-color: white;
    color: black;
}